/.StartProject.bat
/.vs/
/RapidOpenCL1.VC.VC.opendb
/RapidOpenCL1.VC.db
/RapidOpenCL1.manifest
/RapidOpenCL1.opensdf
/RapidOpenCL1.sdf
/RapidOpenCL1.sln
/RapidOpenCL1.v12.sdf
/RapidOpenCL1.v12.suo
/RapidOpenCL1.vcxproj
/RapidOpenCL1.vcxproj.filters
/RapidOpenCL1.vcxproj.user
/build/
